@import url(./reset_styles.css);
@import url(./htmlStyle.css);
@import url(./workfieldStyle.css);
@import url(./inputBlockStyle.css);

.app-main {
    display: flex;
    justify-content: center;
    align-items: center;
}